# List and its default functions

In [1]:
lst=[1,2,3,4,5]

In [2]:
lst.append(6)

In [3]:
lst

[1, 2, 3, 4, 5, 6]

In [4]:
lst.pop(4)

5

In [6]:
lst

[1, 2, 3, 4, 6]

In [9]:
lst.reverse()

In [10]:
lst

[6, 4, 3, 2, 1]

In [11]:
lst.index(6)

0

In [12]:
lst.count(2)

1

# Dictionary and its default function

In [13]:
dit={"name":"sinchana","age":"21","college":"malnad"}

In [14]:
dit.get('name')

'sinchana'

In [15]:
dit.items()

dict_items([('name', 'sinchana'), ('age', '21'), ('college', 'malnad')])

In [16]:
dit.keys()

dict_keys(['name', 'age', 'college'])

In [17]:
dit.pop("name")

'sinchana'

In [18]:
dit["state"]="karnataka"

In [19]:
dit

{'age': '21', 'college': 'malnad', 'state': 'karnataka'}

# Sets and its default functions

In [20]:
st={3,4,6,6,7,8}

In [21]:
st

{3, 4, 6, 7, 8}

In [23]:
st2={6,7}

In [24]:
st2.issubset(st)

True

In [25]:
st.issuperset(st2)

True

In [26]:
st.add(10)

In [27]:
st

{3, 4, 6, 7, 8, 10}

In [28]:
st2.isdisjoint(st)

False

In [29]:
st.remove(4)

In [30]:
st

{3, 6, 7, 8, 10}

# tuple and is default functions

In [31]:
tup=("43653","hgh","hhjh")

In [32]:
tup.count("hgh")

1

In [33]:
tup.index("hhjh")

2

# Strings and its default methods

In [34]:
stri="happy birthday"

In [35]:
stri.capitalize()

'Happy birthday'

In [36]:
substri="bir"

In [37]:
stri.count(substri)

1